body{
    font-family: 'Raleway', sans-serif;
}
.title{
    display: inline-block;
    text-decoration: underline;
    
}
.heading{
    text-align: center;
    
}

.image{
    display: inline-block;
    position: absolute;
    top: 0.5em;
    left: 33vw;
}
.table{
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    position: relative;
    bottom: 0vh;
    
    
}
.table td, .table th{
    border : 1px solid #ddd;
    padding: 10px;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr{
    text-align: center;   
}
.table tr:hover {
    background-color: #ddd;
    
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #2874f0;
  color: white;
}
.drop{
    position: absolute;
    top: 35em;
    left: 38vw;
    background-color: #074b63;
    display: inline-block;
    width: 20em;
    height: 4.5em;
    border-radius: 10px;
    color: white;
    text-align: center;
    z-index: 1;
}
.button1{
    position: absolute;
    background-color:#508ef1;
    border: 1px solid white;;
    color: white;
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    margin: 1.5em;
    width: 10em;
    height: 3em;
    display: inline;
    top: 0.5em;
    left: 1em;
}
.button2{
    position: absolute;
    background-color:#508ef1;
    border: 1px solid white;;
    color: white;
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    margin: 1.5em;
    width: 10em;
    height: 3em;
    top: 0.6em;
    left:13em;
}
